fastapi
uvicorn[standard]
gunicorn
pandas
numpy
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.0+cpu
scikit-learn
fuzzywuzzy
python-Levenshtein   # optional, speeds up fuzzywuzzy
sentence-transformers
